<a href="#/home">Home</a> | <a href="#/products">Products</a> | <a href="#/suppliers">Suppliers</a>


<hr />

<h2>New User</h2>
<br />
<input type="text" ng-model="UserName" placeholder="User Name" />
<br />
<br />
<input type="password" ng-model="Password" placeholder="Password" />
<br />
<br />
<br/>
<input type="text" ng-model="FirstName" placeholder="First Name" />
<br />
<br />
<input type="text" ng-model="LastName" placeholder="Last Name" />
<br />
<br />
<input type="text" ng-model="ID" placeholder="ID" />
<br />
<br />
<input type="text" ng-model="EMail" placeholder="Email" />
<br />
<br />
<input type="text" placeholder="Confirm Email" />
<br />
<br />
<input type="date" ng-model="DateOfBirth" /> <label>BirthDate</label>
<br />
<input type="tel" ng-model="Phone" placeholder="Phone" />
<br />
<br />
<input type="tel" ng-model="Mobile" placeholder="Mobile"/>
<br />
<br />
<input type="button" value="submmit" ng-click="addUser()" /> <input type="button" value="Cancle" />
<br />
<br />


<!--
    first name
    last name
    password
    email
    confirm password
    date of birth
    ID





-->